footer {
    color: white;
    height: auto;
    letter-spacing: 1px;
    a{
    text-decoration: none;
    color: white;
    word-spacing: 5px;
    }
}
.footerGradiente{
    background-image: linear-gradient(to bottom  , #174e4900, #000000be);
}