$color-header: white;

.headerNavbar {
    color: $color-header;
    font-size: 1.5rem;
    background-image: linear-gradient(to bottom, #174e49, #368b8500);
}
.headerNavbarLogo{
    width: 10rem;
    height: 100%;
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 15px;
    justify-content: flex-end;
}

ul {
    li {
        a{
    text-decoration: none;
    color: $color-header;
        }
    }
}
